<?xml version="1.0"?>
<model>
  <name>FJI 550</name>
  <version>1.0</version>
  <sdf version='1.4'>quadrotor_project.sdf</sdf>

  <author>
   <name>Anthony Ivan Sunardi</name>
   <email>anthonyivansunardi@gmail.com</email>
  </author>

  <description>
    This is a FJI 550 quadrotor model that is used for the quadrotor frame used
	for ACONICS UI Research Group. This model was created by Anthony Ivan
	Sunardi, which later will be maintained by anyone else in the group
  </description>
</model>

